@model LoginViewModel

@section header{
    <link rel="stylesheet" href="~/css/training.min.css" />
}

<section class="page-header header-filter clear-filter" data-parallax="true">
    <div class="container">
        <form method="post">
            <span asp-validation-summary="All"></span>
            <div class="row">

                <div class="col-12">
                    <input asp-for="Email" placeholder="Email" class="reg-input" autocomplete="off" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="col-12">
                    <input asp-for="Password" placeholder="Password" class="reg-input" autocomplete="off" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div>
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    <span asp-validation-for="RememberMe"></span>
                </div>

                <button type="submit" class="btn btn-yellow">Login</button>
            </div>

        </form>
    </div>
</section>