.page-header {
  background-image: url("../image/home-banner.png");
}

.about-us .section-desc {
  margin-bottom: 2.5834230355vh;
}
.about-us .section-desc img {
  height: 30px;
  width: 30px;
  margin-right: 14px;
}

.creators .students-img {
  margin-top: 7.3196986006vh;
}
