.page-header {
  background-image: url("../image/yellow_bg.png");
}
.page-header h1 {
  margin-bottom: 8.0275229358vh;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #000000;
  text-align: left;
}
.page-header .section-desc {
  margin-bottom: 11.2385321101vh;
}
.page-header .result-number {
  font-weight: 600;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 0;
}
.page-header .result-name {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .page-header h1 {
    margin-bottom: 30px;
  }
  .page-header .section-desc {
    margin-bottom: 30px;
  }
}

.tabs {
  background: rgba(196, 196, 196, 0.2);
  padding: 28px 0px 42px;
}
.tabs h2 {
  margin-bottom: 4.5209903122vh !important;
}
.tabs nav .nav-tabs {
  border: 0 !important;
  padding-bottom: 5.382131324vh;
}
.tabs nav .nav-tabs .nav-link {
  border: 0;
}
.tabs nav .nav-tabs .nav-item {
  margin-right: 2.1875vw !important;
  border-bottom: 3px solid transparent;
}
.tabs nav .nav-tabs .nav-item.active {
  font-weight: 400;
  border-bottom: 3px solid #F6DC24;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
@media (max-width: 768px) {
  .tabs nav .nav-tabs .nav-item {
    display: block;
    margin-bottom: 10px;
    width: 50%;
  }
}
@media (max-width: 1500px) and (min-width: 768px) {
  .tabs .tab-content .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 33%;
    max-width: 33%;
  }
}
.tabs .tab-content .training {
  padding: 28px 24px;
  border: 2px solid #F6DC24;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: white;
  margin-bottom: 11.4678899083vh;
  cursor: pointer;
}
.tabs .tab-content .training.long-training {
  padding: 11px 24px;
}
.tabs .tab-content .training.long-training .col-3 {
  margin-bottom: auto !important;
  margin-top: auto !important;
}
@media (max-width: 1500px) {
  .tabs .tab-content .training.long-training {
    padding: 14px 24px;
  }
}
.tabs .tab-content .training a:hover {
  text-decoration: none;
}
@media (min-width: 1700px) {
  .tabs .tab-content .training {
    max-width: 430px;
    min-height: 135px;
  }
}
@media (max-width: 768px) {
  .tabs .tab-content .training {
    margin-bottom: 30px;
  }
}
.tabs .tab-content .training img {
  margin-right: 17px;
}
.tabs .tab-content .training p {
  font-weight: 300;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 0;
}
.tabs .tab-content .training:hover {
  background: #F6DC24;
  border: 2px solid white;
}
.tabs .tab-content .training:hover img {
  filter: invert(75%) sepia(100%) saturate(100%) hue-rotate(306deg) brightness(273%) contrast(89%);
}
.tabs .tab-content .training:hover p {
  color: white;
}

.training-review .student-review {
  background-color: white;
  border: 1px solid #F6DC24;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 4.6286329386vh 2.5vw;
  width: 100%;
  margin-left: 0px;
}
@media (max-width: 768px) {
  .training-review .student-review {
    padding: 16px;
  }
}
.training-review .student-review .student-img {
  border-radius: 20px;
}
.training-review .student-review .student-name {
  font-weight: 700;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 20px;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .training-review .student-review .student-name {
    padding-left: 0;
    margin-bottom: 8px;
    margin-top: 16px;
  }
}
.training-review .student-review .course-name {
  font-weight: 600;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 20px;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .training-review .student-review .course-name {
    padding-left: 0;
    margin-bottom: 8px;
  }
}
.training-review .student-review .teacher-name {
  font-weight: 500;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 36px;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .training-review .student-review .teacher-name {
    padding-left: 0;
    margin-bottom: 16px;
  }
}
.training-review .student-review .review {
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  text-align: justify;
  letter-spacing: 0.07em;
  color: #000000;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .training-review .student-review .review {
    font-size: 15px;
    padding-left: 0;
    line-height: 26px;
    letter-spacing: 0.03em;
  }
}
.training-review .owl-dots {
  text-align: right;
  margin-top: 34px;
}
.training-review .owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  background-color: #C4C4C4 !important;
  border-radius: 50%;
  margin-right: 12px;
}
.training-review .owl-dots .owl-dot.active {
  background-color: #F6DC24 !important;
}
