@model List<AboutUsViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer
@section header{
<link rel="stylesheet" href="~/css/about-us.min.css" />
}

<section class="page-header header-filter clear-filter" data-parallax="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="brand">
                    <h1 class="page-title fs-64">@Localizer["AboutUsa"]</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us section-paddings">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-12 order-md-1 order-2">
                <p class="section-desc fs-24">
                    Vanadzor Technology Center (VTC) was established by the Enterprise Incubator Foundation with the support of Government of Armenia and the World Bank.
                </p>
                <p class="section-desc fs-24">
                    The mission of the Center is to turn Vanadzor into a regional and international high-tech center by creating a dynamic environment of opportunities and services that will promote job creation, support talented youth and organizations in implementing innovative business ideas ultimately contributing to the sustainable development of the region.
                </p>
            </div>
            <div class="col-lg-6 col-md-5 col-12 order-md-2 order-1 text-md-right text-center">
                <img src="~/image/img-1.png" alt="Vanadzor Technology Center" class="section-img img-fluid" />
            </div>
        </div>
        <div class="row section-paddings">
            <div class="col-lg-7 col-md-5 col-12 text-md-left text-center">
                <img src="~/image/img-2.png" alt="Vanadzor Technology Center" class="section-img img-fluid" />
            </div>
            <div class="col-lg-5 col-md-7 col-12 ">
                <p class="section-desc fs-24">The Center focuses on assisting technology companies in a variety of areas including</p>
                <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon"/> business consultancy</p>
                <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> mentoring, marketing and promotion</p>
                <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> introduction to funding opportunities</p>
                <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> establishment of business connections for increasing the competitiveness of companies in the global marketplace</p>
            </div>
        </div>
        <div class="row section-paddings">
            <div class="col-lg-6 col-md-7 col-12 order-md-1 order-2">
                <p class="section-desc fs-24">
                    We support technology teams, start-ups and existing companies in developing their innovative ideas into successful businesses within Armenia and internationally.
                </p>
                 <p class="section-desc fs-24">
                    We help companies to improve professional and business skills of the employees and managers via provision of short-term and long-term advanced trainings and seminars. Meantime we support the creation of learning partnerships within the industry and the technological universities to encourage learning partnerships and strengthen the role of universities as active R&D centers.
                </p>
            </div>
            <div class="col-lg-6 col-md-5 col-12 order-md-2 order-1 text-md-right text-center">
                <img src="~/image/img-1.png" alt="Vanadzor Technology Center" class="section-img img-fluid" />
            </div>
        </div>
    </div>
</section>
<section class="creators">
     <div class="container mt-200">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-12 text-center mr-auto ml-auto">
                <h2 class="fs-48 section-title">@Localizer["Creators"]:</h2>
                <p class="section-desc fs-24">@Localizer["Info"]</p>
                <img src="~/image/students.jpg" alt="students" class="students-img img-fluid"/>
            </div>
        </div>
    </div>
</section>