@model List<ServiceViewModel>

@section header{
<link rel="stylesheet" href="~/css/services.min.css" />
}
<section class="page-header header-filter clear-filter" data-parallax="true">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-auto order-md-1 order-2">
                <h1 class="page-title fs-64">Services</h1>
                <p class="section-desc fs-24">Vanadzor Technology Center offers a wide range of services, promoting the establishment of businesses, their further development both in the WTC environment and beyond, in Vanadzor, Lori region.</p>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-md-border-right text-center">
                <img class="img-fluid" src="~/image/services.png" alt="trainings" />
            </div>
        </div>
    </div>
</section>
<section class="small-desc">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="section-title fs-48">Our Services</p>
                <p class="section-desc fs-24">Our services are available to small, medium and large enterprises that intend to:</p>
                <div class="desc">
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> expand activities</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> introduce an effective management system</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> attract investments</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> develop, import and introduce technical innovations</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> conquer new markets</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> develop the qualification of the workforce</p>
                </div>
                <p class="section-desc fs-24">Favorable business environment, technological sector development - company progress - this is our goal and mission.</p>
            </div>
        </div>
        <div class="" id="services">
            @foreach(var item in Model)
            {
                 <div class="card">
                <div class="card-header" id="serviceshead@(item.Id)">
                    <a href="#" class="btn btn-header-link collapsed fs-24" data-toggle="collapse" data-target="#services@(item.Id)"
                       aria-expanded="true" aria-controls="services@(item.Id)">@item.Name</a>
                </div>

                <div id="services@(item.Id)" class="collapse" aria-labelledby="serviceshead@(item.Id)" data-parent="#services">
                    <div class="card-body">
                        @Html.Raw(item.Description)
                    </div>
                </div>
            </div>
            }
           
          
        </div>
    </div>
</section>
<section class="our-services">
</section>

