@model NewsViewModel
<div class="modal-content">
    <form asp-action="DeleteNews" asp-controller="Admin">

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete News</h5>
        </div>
        <div class="modal-body">
           Are you sure to delete this news
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>

</div>